<div>
    <h3>View client</h3>

    <div>
        <div>
            <div>Surname</div>
            <div>{{model.surname}}</div>
        </div>
        <div>
            <div>First names</div>
            <div>{{model.firstNames}}</div>
        </div>
        <div>
            <div>Identity type</div>
            <div ng-switch="model.identityType">
                <div ng-switch-when="1">Passport</div>
                <div ng-switch-when="2">Identity number</div>
                <div ng-switch-default>Unspecified</div>
            </div>{{model.identityType}}
        </div>
        <div>
            <div>Number</div>
            <div>{{model.identityNumber}}</div>
        </div>
        <div>
            <div>Date of birth</div>
            <div>{{model.dateOfBirth | date: "yyyy-MM-dd"}}</div>
        </div>
    </div>

    <a href="#!/">Back to list</a>
</div>
