<div>
    <h3>View client</h3>

    <div>
        <div>
            <div>Surname</div>
            <div>{{client.surname}}</div>
        </div>
        <div>
            <div>Surname</div>
            <div>{{client.firstName}}</div>
        </div>
        <div>
            <div>Surname</div>
            <div>{{client.identityType}}</div>
        </div>
        <div>
            <div>Surname</div>
            <div>{{client.identityNumber}}</div>
        </div>
        <div>
            <div>Date of birth</div>
            <div>{{client.dateOfBirth}}</div>
        </div>
    </div>

    <a href="#">Back to list</a>
</div>
