<div>
    <div>
        <label>
            <span>Surname</span>
            <input type="text" ng-model="model.surname" />
        </label>
    </div>
    <div>
        <label>
            <span>First names</span>
            <input type="text" ng-model="model.firstNames" />
        </label>
    </div>
    <div>
        <label>
            <span>Identity type</span>
            <select ng-model="model.identityType">
                <option>Please select</option>
                <option>Passport</option>
                <option>Identity Document</option>
            </select>
        </label>
    </div>
    <div>
        <label>
            <span>Identity number</span>
            <input type="text" ng-model="model.identityNumber" />
        </label>
    </div>
    <div>
        <label>
            <span>Date of birth</span>
            <input type="date" ng-model="model.dateOfBirth" />
        </label>
    </div>

    <div>
        <button ng-click="save(model)">Save</button>
    </div>
</div>
